main{
  padding: 1%;
}

nav{
  display: flex;
  justify-content: space-between;
}

.logo, .logo-container{
  background-color: rgb(42, 42, 42);
  padding: 2%;
  color: white;
  text-align: left;
  width: fit-content;
}

.nav-right{
  text-align: right;
  align-self: center;
  width: 100%;
}

.nav-desktop{
  margin: 1%;
}

.landing{
  height: 93vh;
  display: grid;
  place-content: center;
}

.landing-container{
  text-align: center;
}

h1{
  font-size: 50px;
}

.project{
  height: 90vh;
}

.project-img-container{
  display: flex;
  justify-content: center;
  max-height: 70%;
}

img{
  max-width: 100%;
  /* max-height: 50%; */
}

a{
  text-decoration: none;
  color: black;
}

a:hover {
  background-color: rgb(230, 230, 230);
}

footer {
  text-align: center;
  display: grid;
}

.footer-icons {
  place-self: center;
  display: flex;
  width: 60%;
  justify-content: space-between;
}



@media only screen and (min-width: 768px){


}