main{
  font-family: 'Prata', serif;
  font-size: 1rem;
}

.secondary-font, label {
  font-family: sans-serif;
  color: grey;
  font-weight: 100;
}

label {
  font-size: small;
}

.navbar-desktop {
  display: none;
}

.navbar-desktop, .navbar-mobile {
  position: fixed;
  width: 100%;
  background-color: white;
}

.landing{
  height: 95vh;
  display: grid;
  place-content: center;
}

.name {
  font-size: 4rem;
}

.landing-container{
  text-align: center;
}

.about-img-container {
  display: grid;
  place-content: center;
  margin-bottom: 6%;
}

.project-name {
  font-size: 3rem;
  margin-bottom: 3%;
  margin-top: 5%;
}

.animate__shakeY {
  --animate-duration: 25s;
}

.project-section {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3%;
}

.tech-used {
  margin-bottom: 10%;
  font-style: italic;
}

.description,.project-description, label, .fa-angle-down {
  color: grey;
}

.project-link {
  border: 1px solid rgb(203, 203, 203);
  padding: 1%;
  color: black;
  margin-right: 4%;
}

.project-links-container {
  display: flex;
  align-items: center;
}

.github-link:hover {
  color: grey;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}

footer {
  text-align: center;
  display: grid;
  background-color: rgb(248, 248, 248);
  padding-top: 15%;
  padding-bottom: 5%;
}

.footer-icon-container {
  margin: 3%;
  place-self: center;
  display: flex;
  width: 60%;
  justify-content: space-between;
}

.footer-icon {
  display: grid;
  font-size: small;
}

i {
  font-size: 2rem;
}

i:hover {
  color: grey;
}

.skills-logos {
  margin: 3%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.skills-logo-container {
  margin: 3%;
  display: grid;
  place-items: center;
}

.skills-header {
  text-align: center;
}

@media only screen and (min-width: 768px){
  .navbar-mobile {
    display: none;
  }

  .navbar-desktop {
    display: flex;
    justify-content: space-between;
  }

  .nav-desktop-link-container{
    text-align: right;
    align-self: center;
    width: 100%;
    margin-right: 1%;
  }

  .navbar-desktop-link {
    margin: 1%;
  }

  .logo, .logo-container{
    margin: 1%;
  }

  .project-section {
    display: grid;
    grid-template: 1fr / 1fr 2fr;
    place-items: center;
  }

  .project-text-content {
    grid-column: 1;
    grid-row: 1;
    justify-self: start;
    padding-right: 10%;
  }

  .project-img-container {
    grid-column: 2;
  }

  footer {
    padding: 3% 0 1% 0;
  }

  .footer-icon-container {
    width: 30%;
  }

  .project-link {
    padding: 2%;
  }

  .about-description {
    margin: 0 20% 0 5%;
  }

  .about-section {
    height: 50vh;
  }

}